name: SonarCloud (mono-repo)

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=rmurier
            -Dsonar.projectKey=bac5_cube1_collaboratif
            -Dsonar.projectName=BAC-5-CUBE-1-COLLABORATIF
            -Dsonar.sources=.
            -Dsonar.host.url=https://sonarcloud.io
